---
import { Debug } from 'astro:components';
import PageBlocksSection from "@components/sections/pageBlocksSection";
import Layout from "../layouts/base.astro";
import {CollectionEntry,getCollection} from "astro:content";
import Test from '../components/testComponent/testComponent.astro'

export interface Props {
    page: CollectionEntry<"pages">;
}

export async function getStaticPaths() {
    const pages = await getCollection("pages");
    return pages.map((page) => {
        const slug = page.slug.replace(/index$/, "");
        if (slug.length === 0)
            return { params: { slug: undefined }, props: { page } };
        return { params: { slug }, props: { page } };
    });
}

const page = Astro.props.page;

const { contentBlocks } = Astro.props;
const components = {};
const componentImports = import.meta.glob("../components/**/*.astro", {
    eager: true,
});
Object.entries(componentImports).forEach(([path, obj]) => {
    const parts = path
        .replace("../components/", "")
        .split(".")[0]
        .split("/");
    if (parts[parts.length - 1] === parts[parts.length - 2]) {
        parts.pop();
    }
    const bookshopName = parts.join("/");
    components[bookshopName] = obj.default;
});

---
<Layout>
    <div bookshop:live>
    <!--div>{page.slug}</div>
    <div data-cms-bind="#content">{page.data.content}</div>
    <div data-cms-bind="#tags">{page.data.tags}</div>
    <div>
        <img data-cms-bind="#image"
             data-cms-bind-attribute="src"
             src={page.data.image}/>
    </div>
    <PageBlocksSection blocksSection={page.data.blocksSection} /-->

    {page.data.contentBlocks.map((block) => {
        const Component = components[block._bookshop_name];
        return <Component {...block} />;
    })}
    </div>
</Layout>